<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loan Application Approved</title>
</head>
<body style="font-family: sans-serif; line-height: 1.5;">
  <p>Dear <strong><%= borrowerName %></strong>,</p>
  <p>
    Congratulations! Your loan application (ID: <strong><%= loanId %></strong>) 
    for <strong>TSh <%= amount %></strong> has been <strong>approved</strong>.
  </p>
  <p>
    We will notify you again when the funds have been disbursed to your account.
  </p>
  <hr>
  <p>Warm regards,<br>Johsta Microfinance Team</p>
</body>
</html>
