<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loan Disbursed</title>
</head>
<body style="font-family: sans-serif; line-height: 1.5;">
  <p>Dear <strong><%= borrowerName %></strong>,</p>
  <p>
    Good news! Your approved loan (ID: <strong><%= loanId %></strong>) 
    of <strong>TSh <%= amount %></strong> was <strong>disbursed</strong> 
    on <strong><%= disbursedAt %></strong> into your account.
  </p>
  <p>
    You can now access the funds. Wishing you success with your plans!
  </p>
  <hr>
  <p>Best,<br>Johsta Microfinance Team</p>
</body>
</html>
