<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upcoming Repayment Reminder</title>
</head>
<body style="font-family: sans-serif; line-height: 1.5;">
  <p>Dear <strong><%= borrowerName %></strong>,</p>
  <p>
    This is a friendly reminder that your loan (<strong>ID: <%= loanId %></strong>) 
    repayment of <strong>TSh <%= amount %></strong> is due on 
    <strong><%= dueDate %></strong>.
  </p>
  <p>Please ensure that the amount is paid by the due date to avoid any penalties.</p>
  <hr>
  <p>Thank you,<br>Johsta Microfinance Team</p>
</body>
</html>
