<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loan Written Off</title>
</head>
<body style="font-family: sans-serif; line-height: 1.5;">
  <p>Dear <strong><%= borrowerName %></strong>,</p>
  <p>
    We wish to inform you that your loan (ID: <strong><%= loanId %></strong>) 
    has been <strong>written off</strong> as of 
    <strong><%= writeOffDate %></strong>.
  </p>
  <p>
    If you have any questions or believe this is in error, please contact us immediately.
  </p>
  <hr>
  <p>Sincerely,<br>Johsta Microfinance Team</p>
</body>
</html>
